# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://USER:PASSWORD@localhost:PORT/DATABASE_NAME"
WEB_BASEURL = 'http://localhost:3001';
WEB_URL_LOGIN = 'http://localhost:3000/login'
WEB_URL_PDF = 'http://localhost:3000/cv/preview/pdf'
DEFAULT_USERNAME_LOGIN = 'USER'
DEFAULT_PASSWORD_LOGIN = 'PASSWORD'
PORT = "6969"

KOA_SESSION_SECRET ='YOUR_SESSION_SECRECT';
JWT_SECRECT_KEY = ''

GOOGLE_OAUTH_CLIENTID =''
GOOGLE_OAUTH_CLIENTSECRET =''
GOOGLE_OAUTH_CALLBACKURL ='http://localhost:6969/v1/google/signin'
GOOGLE_OAUTH_FAILEDREDIRECT ='http://localhost:3000/google/signin/failed'
GOOGLE_OAUTH_SUCCESSREDIRECT ='http://localhost:3000/google/signin/success'